# Compiled Object files
*.lo
*.o
*.slo

# Compiled Dynamic libraries
*.dll
*.dylib
*.so

# Compiled Static libraries
*.a
*.la
*.lai
*.lib

# Build files
build/codelite/.b*
build/codelite/.c*
build/codelite/*.mk
build/codelite/*.txt
build/codelite/Makefile
debug
lib
release
